<form method="post">
    <fieldset>
        <legend>Ajouter une culture</legend>
    <label for="libelle">Libellé : </label>
    <input id="libelle" name="libelle" />
    <input id="bouton-ajouter-culture" type="submit" value="ajouter" />
{#    <input type="hidden" name="_csrf_token" value="{{  csrf_token(csrf_token) }}">#}
    </fieldset>
</form>