<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Potager2{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
        <link rel="icon" type="image/x-icon" href="favicon.ico" />
{% block stylesheets %}{% endblock %}
    </head>
    {% block body %}
    <body>
    {% block javascripts %}
    {% endblock %}
    </body>
    {% endblock %}
</html>
